<header class="app-header">
    <!-- Outer container, full width -->
    <div class="header-outer">
      <!-- Inner container, max-width, spaced between logo & nav -->
      <div class="header-inner">
        <!-- Logo / Title -->
        <div class="header-title-container">
          <h1 class="header-title">
            <a [routerLink]="['/anasayfa']" rel="home">ikra education online</a>
          </h1>
        </div>
  
        <!-- Navigation -->
        <nav class="header-nav">
          <ul>
            <li><a [routerLink]="['/hizmetlerimiz']">Hizmetlerimiz</a></li>
            <li><a [routerLink]="['/fiyatlar']">Fiyatlar</a></li>
            <li><a [routerLink]="['/deneyimler']">Deneyimler</a></li>
            <li><a [routerLink]="['/sss']">SSS</a></li>
            <li><a [routerLink]="['/iletisim']">İletişim</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  